<h1>Listing voxeldummies</h1>

<table>
  <thead>
    <tr>
      <th>User</th>
      <th>Title</th>
      <th>Data json</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @voxeldummies.each do |voxeldummy| %>
      <tr>
        <td><%= voxeldummy.user_id %></td>
        <td><%= voxeldummy.title %></td>
        <td><%= voxeldummy.data_json %></td>
        <td><%= link_to 'Show', voxeldummy %></td>
        <td><%= link_to 'Edit', edit_voxeldummy_path(voxeldummy) %></td>
        <td><%= link_to 'Destroy', voxeldummy, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Voxeldummy', new_voxeldummy_path %>
