<head>
  <%= render 'commonCDN' %>
</head>

<script>
$(function(){
	//カラーピッカー
	$('input#color').simpleColorPicker();
	$('input#color').val(num0x_to_sharp_string(g_selectedColor));

	//マウスホイール
	if (window.addEventListener)
	        window.addEventListener('DOMMouseScroll', onMouseWheel, false);//Mozilla
			window.onmousewheel = document.onmousewheel = onMouseWheel;//IE,Opera,Chrome
	});

//右クリックでコンテキストメニュー出さない
$(document).ready(function(){
  $(document).bind("contextmenu",function(e){
    return false;
  });
});

//デモON/OFF
function toggleDemo(){
	g_isDemo = !g_isDemo;
	if(g_isDemo){
		$("#demo_button").text('Stop Demo');
	}else{
		$("#demo_button").text('Start Demo');
	}
}

//ミラーON/OFF
function toggleMirror(){
	g_isMirror = !g_isMirror;
	if(g_isMirror){
		g_rollOverMeshMirror.visible = true;
		$("#mirror_button").text('Stop Mirror');
	}else{
		g_rollOverMeshMirror.visible = false;
		$("#mirror_button").text('Start Mirror');
	}
}
</script>

<body>
	<div id="container">

		<!-- デバッグ表示 -->
		<div id="ui_debug">

			<!-- 負荷 -->
			<div id="ui_load_viewer">
			</div>

			<br>
			<!-- 変数表示 -->
			<span class="label label-success">Variables</span>
			<div id="ui_debug_variables">
			</div>

			<br>
			<!-- JSON -->
			<span class="label label-success">JSON</span>
			<div id="ui_json">
			</div>
		</div>

                <%= render :partial => 'ui' %>
                <%= render :partial => 'voxels/new/ui' %>


	</div>

</body>



<%= render 'form' %>
<%= link_to 'Back', voxels_path %>
